<div class="c-section">
  <div class="c-flex -center">
    <div class="c-heading"><%= settings.app_title %>とは</div>
  </div>
</div>

<div class="c-section">
  <div class="c-sentence">
    <p><%= settings.app_title %>は、作者が<a href="https://bootcamp.fjord.jp" target="new">フィヨルドブートキャンプ</a>でSinatraを学習するために作ったアプリケーションです。</p>
  </div>
</div>
