<div class="c-section">
  <div class="c-flex -center">
    <div class="c-heading">404エラー</div>
  </div>
</div>

<div class="c-section">
  <div class="c-sentence">
    <p>ファイルが存在しません。</p>
  </div>
</div>
